.brand-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 16px;
  transition: box-shadow 0.3s ease;
  background-color: white;
}

.brand-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}

.brand-card h2 {
  font-size: 1.1rem;
  margin: 0 0 8px;
  color: #ab196c;x
}

.brand-card:hover {
   transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
